node_modules

# Output
.output
.vercel
.netlify
/.svelte-kit
/build

# OS
.DS_Store
Thumbs.db

# Env
.env
.dev.vars
.env.*
!.env.example
!.env.test

# Agent
memory:/

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
